<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <main>
        <%- include('../partials/sidebar'); %>
        <div class="main-content">
            <main>     
                 <section class="recentBooking">
                    <div class="clientList">
                        <div class="search-wrapper">
                           <span class="ti-search"></span>
                           <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Client Name">
                         </div>
                         </div>
                     <div class="activity-grid">
                         <div class="activity-card">
                             <h3>Approved Reservations</h3>
                             
                             <div class="table-responsive">
                                 <table id="bookingTable" data-name="myTable">
                                     <thead>
                                         <tr>
                                            <th>Renter</th>
                                             <th>Car Rented</th>
                                             <th>Plate Number</th>
                                             <th>Start Date</th>
                                             <th>End Date</th>
                                             <th>Status</th>
                                             <th>Action</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                        <% for(var i=0; i < success.length; i++) { %>
                                         <tr>
                                             <td><%= success[i].fullname %></td>
                                             <td><%= success[i].vehicle_brand_model %></td>
                                             <td><%= success[i].plate_no %></td>
                                             <td><%= success[i].rent_startDate %></td>
                                             <td><%= success[i].rent_endDate %></td>
                                             <td>
                                                <span class="badge success"><%= success[i].status %></span> 
                                              </td>
                                              <td>
                                                <a href="" class="btn btn-success"><i class="fas fa-edit"></i></a>
                                              </td>
                                         </tr>
                                     </tbody>
                                     <% } %>
                                 </table>
                             </div>
                         </div>
                         </div>
                         <br><br><br><br><br><br> 
                         <div class="pendingReserve">
                         <div class="search-wrapper">
                            <span class="ti-search"></span>
                            <input type="text" id="pendingInput" onkeyup="pendingSearch()" placeholder="Search for Pending Client">
                          </div>
                          </div>
                         <div class="activity-grid">
                            <div class="activity-card">
                                <h3>Pending Reservations</h3>
                                
                                <div class="table-responsive">
                                    <table id="pendingTable" data-name="myTable">
                                        <thead>
                                            <tr>
                                                <th>Renter</th>
                                                <th>Car to Rent</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i < pending.length; i++) { %>
                                                <tr>
                                                    <td><%= pending[i].fullname %></td>
                                                    <td><%= pending[i].vehicle_brand_model %></td>
                                                   
                                                    <td><%= pending[i].rent_startDate %></td>
                                                    <td><%= pending[i].rent_endDate %></td>
                                                    <td> 
                                                       <span class="badge danger"><%= pending[i].status %></span>
                                                    </td>
                                                    <td>
                                                      <form method="POST" action="/bookings?id=<%= pending[i].booking_id %>">
                                                      <a class="btn btn-success"  data-toggle="modal" data-target="#exampleModal"><i class="fas fa-check-square"></i></a>
                                                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title" id="exampleModalLabel">Confirm Booking</h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                              <%= pending[i].fullname %>
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                              <button type="submit" class="btn btn-primary">Confirm</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </form>
                                                     <br>
                                                      <!-- <button class="btn btn-success"><i class="fas fa-check-square"></i></button> -->
                                                      <form method="POST" action="/bookings/<%= pending[i].booking_id %>">
                                                      <a class="btn btn-danger " data-toggle="modal" data-target="#exampleModal1"><i class="fas fa-trash-alt"></i></a>
                                                      <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title" id="exampleModalLabel">Delete this booking  ?</h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                              ...
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                              <button type="submit" class="btn btn-primary">Yes</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <!-- <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button> -->
                                                    </form>
                                                    </td>
                                                   
                                                </tr>
                                            </tbody>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                     </div>
                  </section>
                  
              </main>
             </div>
             <script>
                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                  input = document.getElementById("myInput");
                  filter = input.value.toUpperCase();
                  table = document.getElementById("bookingTable");
                  tr = table.getElementsByTagName("tr");
                
                  for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                      txtValue = td.textContent || td.innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                      } else {
                        tr[i].style.display = "none";
                      }
                    }
                  }
                }
                function pendingSearch() {
                    var input, filter, table, tr, td, i, txtValue;
                  input = document.getElementById("pendingInput");
                  filter = input.value.toUpperCase();
                  table = document.getElementById("pendingTable");
                  tr = table.getElementsByTagName("tr");
                
                  for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                      txtValue = td.textContent || td.innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                      } else {
                        tr[i].style.display = "none";
                      }
                    }
                  }
                }
                </script>
                
    </main>
</body>
</html>